*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}


.feature{

    background-color: lightgray;
    color: blueviolet;
    border: 1px solid ;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px;
    border-color: lightgray;
    width: 90px;
    



}
.feature:hover{
    transition: all .3s ease;
    color:rgb(84, 82, 82);
}
.learn{
    color: white;
    background-color: blueviolet;
    font-size: 15px;
    border-color: blueviolet;
    border-radius: 5px;
    padding: 6px;
    width: 120px;

    
}
.learn:hover{
    transition: all .3s ease;
    color:violet ;
}
i{
    font-size: 15px;
    gap: 9px;
    
}
p{
    color: rgb(175, 171, 171);
}
.main{
    background-color: white;
    border: 1px solid;
    border-color: white;
    width: 300px;
    height: 290px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:0 auto;
    
    


    

}
.container{
    background-color: rgb(188, 235, 235);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
